In [2]:
import warnings
warnings.filterwarnings("ignore")

In [5]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [7]:
claims=pd.read_csv("claimants.csv")
claims.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038

In [14]:
claims.drop(["CASENUM"],inplace=True,axis=1)

KeyError: "['CASENUM'] not found in axis"

In [15]:
claims.head()

   ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0         0     0.0       1.0       0.0    50.0  34.940
1         1     1.0       0.0       0.0    18.0   0.891
2         1     0.0       1.0       0.0     5.0   0.330
3         0     0.0       1.0       1.0    31.0   0.037
4         1     0.0       1.0       0.0    30.0   0.038

In [16]:
claims=claims.dropna()

In [17]:
x=claims.iloc[:,1:]
y=claims.iloc[:,0]

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [24]:
classifier=LogisticRegression()
classifier.fit(x_train,y_train)

LogisticRegression()

# train accuracy

In [26]:
y_pred_train=classifier.predict(x_train)

In [31]:
y_pred_train_df=pd.DataFrame({"actual":y_train,
                             "predicted_prob":y_pred_train})

In [32]:
y_pred_train_df

      actual  predicted_prob
470        0               0
423        1               1
1289       0               0
756        0               1
229        1               0
...      ...             ...
1261       0               1
939        1               1
1028       1               1
683        1               1
835        1               1

[876 rows x 2 columns]

In [34]:
from sklearn.metrics import accuracy_score as ac

In [35]:
ac(y_train,y_pred_train)

0.7100456621004566

In [36]:
y_pred_test=classifier.predict(x_test)

In [40]:
y_pred_test_df=pd.DataFrame({"actual":y_test,
                             "predicted":y_pred_test})

In [41]:
y_pred_test_df

      actual  predicted
1296       1          0
32         1          1
885        0          0
600        0          1
238        1          1
...      ...        ...
935        1          1
801        1          1
940        1          1
862        0          1
1208       0          1

[220 rows x 2 columns]

In [42]:
ac(y_test,y_pred_test)

0.6909090909090909

In [48]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred_test)
print("confusion matrics\n\n",cm)

confusion matrics

 [[73 45]
 [23 79]]

In [49]:
from sklearn.metrics import classification_report

In [50]:
print(classification_report(y_test,y_pred_test))

              precision    recall  f1-score   support

           0       0.76      0.62      0.68       118
           1       0.64      0.77      0.70       102

    accuracy                           0.69       220
   macro avg       0.70      0.70      0.69       220
weighted avg       0.70      0.69      0.69       220

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [28]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [4]:
claim=pd.read_csv("claimants.csv")

In [36]:
claim=claim.dropna()

In [32]:
claim.drop("CASENUM",axis=1,inplace=True)

KeyError: "['CASENUM'] not found in axis"

In [37]:
x=claim.iloc[:,1:]
y=claim.iloc[:,0]

In [38]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [39]:
classifier=LogisticRegression()
classifier.fit(x_train,y_train)

LogisticRegression()

In [40]:
y_pred_train=classifier.predict(x_train)

In [41]:
y_pred_train_df=pd.DataFrame({"actual":y_train,
                              "predicted":y_pred_train})

In [42]:
y_pred_train_df

      actual  predicted
470        0          0
423        1          1
1289       0          0
756        0          1
229        1          0
...      ...        ...
1261       0          1
939        1          1
1028       1          1
683        1          1
835        1          1

[876 rows x 2 columns]

In [43]:
from sklearn.metrics import accuracy_score as ac

In [45]:
ac(y_train,y_pred_train)

0.7100456621004566

In [48]:
y_test_pred=classifier.predict(x_test)

In [49]:
y_test_pred_df=pd.DataFrame({"actual":y_test,
                             "predicted":y_test_pred})

In [50]:
y_test_pred_df

      actual  predicted
1296       1          0
32         1          1
885        0          0
600        0          1
238        1          1
...      ...        ...
935        1          1
801        1          1
940        1          1
862        0          1
1208       0          1

[220 rows x 2 columns]

In [51]:
ac(y_test,y_test_pred)

0.6909090909090909

In [54]:
from sklearn.metrics import confusion_matrix as cm

In [55]:
cm(y_train,y_pred_train)

array([[310, 150],
       [104, 312]], dtype=int64)

In [56]:
cm(y_test,y_test_pred)

array([[73, 45],
       [23, 79]], dtype=int64)

In [60]:
from sklearn.metrics import classification_report as cr

In [64]:
print(cr(y_train,y_pred_train))

              precision    recall  f1-score   support

           0       0.75      0.67      0.71       460
           1       0.68      0.75      0.71       416

    accuracy                           0.71       876
   macro avg       0.71      0.71      0.71       876
weighted avg       0.71      0.71      0.71       876

In [66]:
print(cr(y_test,y_test_pred))

              precision    recall  f1-score   support

           0       0.76      0.62      0.68       118
           1       0.64      0.77      0.70       102

    accuracy                           0.69       220
   macro avg       0.70      0.70      0.69       220
weighted avg       0.70      0.69      0.69       220

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

In [4]:
claims=pd.read_csv("claimants.csv")
claims.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038

In [5]:
claims.drop("CASENUM",axis=1,inplace=True)

In [17]:
claims=claims.dropna()

In [18]:
x=claims.iloc[:,1:]
y=claims.iloc[:,0]

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [20]:
classifier=LogisticRegression()
classifier.fit(x_train,y_train)

LogisticRegression()

In [21]:
y_train_pred=classifier.predict(x_train)

In [22]:
y_train_df=pd.DataFrame({"actual":y_train,
                         "predict":y_train_pred})

In [23]:
y_train_df

      actual  predict
470        0        0
423        1        1
1289       0        0
756        0        1
229        1        0
...      ...      ...
1261       0        1
939        1        1
1028       1        1
683        1        1
835        1        1

[876 rows x 2 columns]

In [25]:
from sklearn.metrics import accuracy_score as ac
from sklearn.metrics import classification_report as cr

In [26]:
ac(y_train,y_train_pred)

0.7100456621004566

In [28]:
print(cr(y_train,y_train_pred))

              precision    recall  f1-score   support

           0       0.75      0.67      0.71       460
           1       0.68      0.75      0.71       416

    accuracy                           0.71       876
   macro avg       0.71      0.71      0.71       876
weighted avg       0.71      0.71      0.71       876

In [29]:
classifier.fit(x_test,y_test)

LogisticRegression()

In [33]:
y_test_pred=classifier.predict(x_test)

In [34]:
ac(y_test,y_test_pred)

0.7363636363636363